/* Skills.css */
#skills {
  position: relative;
  background-color: #1A0064;
  color: #fff;
  padding: 5rem 0;
  background-image: url('/public/images/wallpaper-earth-moon-stars.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2rem ;
 
}

.white-block{
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 60%;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

#skills h1, #skills h2 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

/* #skills h1 {
  font-size: 5rem;
    background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
} */

#skills h2 {
  font-size: 4rem;
}

#skills h3 {
  font-size: 2.5rem;
  color: aquamarine;
  margin: 1rem 0;
}

.gradient-heading-container {
  background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
  margin: auto; /* Center the container */
  width: 100%; /* Fill the entire width of the section */
}

.gradient-heading {
  color: white;
  font-size: 5rem;
  display: inline-block; /* Allows the text to only take up as much space as it needs */
  margin: 0; /* Remove any default margin */
}


.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, filter 0.3s;
  /* cursor: pointer; */
}

.skill img {
  width: 80px;
  height: auto;
  margin-bottom: 1rem;
}

.skill:hover {
  transform: translateY(-10px) scale(1.1);
  filter: drop-shadow(0 0 20px rgb(127, 255, 212));
}

/* Floating animation for different skill groups */
.front-end-skills .skill {
  animation: float 3s ease-in-out infinite;
}

.design-skills .skill {
  animation: float 3.2s ease-in-out infinite;
}

.other-tools-skills .skill {
  animation: float 3.5s ease-in-out infinite;
}

.photography-skills .skill {
  animation: float 3.7s ease-in-out infinite;
}

/* Keyframes for floating animations */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
