#projects {
    background-color: #1A0064;
    color: #fff;
    
    background-image: url('../../../public/images/LongBackgroundspacestars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h1 {
    font-size: 5rem;
    color: rgb(221, 0, 0);
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}
    

#projects p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0;
}

.motion-div {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .motion-button {
    width: fit-content;
    margin: 10px auto; 
  }
  