#projects {
    background-color: #1A0064;
    color: #fff;
    background-image: url('../../../public/images/LongBackgroundspacestars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h1 {
    font-size: 5rem;
    color: rgb(221, 0, 0);
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}

#projects h3 {
    font-size: 2.5rem;
    color: aquamarine;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}

.motion-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1.5em; /* Standardized font size */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    margin: 10px auto;
}

.motion-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#projects p, 
#projects a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

#projects a:hover {
    text-decoration: underline;
}

#projects div, 
#projects span, 
#projects button {
    font-size: 1.5em;
}

.motion-div {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em; /* Standardized font size */
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.motion-div img {
    width: 650px;
    border-radius: 30px;
    height: auto;
    display: block;
    margin: 20px auto;
    background-color: rgba(136, 0, 255, 0.551);
}

.motion-div video {
    width: 650px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
}

.link-icon {
    vertical-align: middle;
}

.project-image, .project-video {
    width: 400px;
    height: auto;
}
  
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em; /* Standardized font size */
    text-decoration: none;
    margin-top: 20px;
    transition: text-decoration 0.3s;
}

.github-link img {
    margin-right: 10px;
}

.github-link:hover {
    text-decoration: underline;
}
