#projects {
    background-color: #1A0064;
    color: #fff;
    background-image: url('../../../public/images/wallpaper-galaxy-stars.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* #projects h1 {
    font-size: 5rem;
    background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
} */

#projects h3 {
    font-size: 2.5rem;
    color: aquamarine;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}




#projects p 
 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    font-style: bold;
    transition: text-decoration 0.3s;
    text-align: left;
    padding: 1rem 0;
}

#projects a {
    color: rgb(133, 241, 255);
    font-size: 2.5rem;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

#projects a:hover {
    text-decoration: underline;
}

#projects div, 
#projects span, 
#projects button {
    font-size: 1.5rem;
}

.motion-div {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em; /* Standardized font size */
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.motion-div img {
    width: 650px;
    border-radius: 30px;
    height: auto;
    display: block;
    margin: 20px auto;
    
}

.gradient-heading-container {
    background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
    border-radius: 10px;
    text-align: center;
    padding: 1rem 0;
    margin: auto; /* Center the container */
    width: 100%; /* Fill the entire width of the section */
  }
  
  #projects .gradient-heading {
    color: white;
    font-size: 5rem;
    display: inline-block; /* Allows the text to only take up as much space as it needs */
    margin: 0; /* Remove any default margin */
  }

.link-icon {
    vertical-align: middle;
}

.project-image, .project-video {
    width: 400px;
    height: auto;
}
  
.project-container {
    max-width: 80%;  /* Limits the content width to 80% */
    margin: 0 auto;  /* Centers the content horizontally */
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.github-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem; /* Standardized font size */
    text-decoration: none;
    margin-top: 20px;
    transition: text-decoration 0.3s;
}

.github-link img {
    margin-right: 10px;
}

.github-link:hover {
    text-decoration: underline;
}
/* MyProjects.css */
.project-video-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
  }
  
  .project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
  }
  

/* Keyframes for floating animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Start and end at the same position */
    }
    50% {
        transform: translateY(-10px); /* Move up by 10px */
    }
}

/* Apply the animation to the GitHub icon */
.github-link img {
    animation: float 2s ease-in-out infinite; /* 2 seconds duration, ease-in-out timing, infinite loop */
    margin-right: 10px;
    /* Rest of your styles... */
}

.github-link img:hover {
    filter: drop-shadow(0 0 20px rgb(127, 255, 212)); /* Add a drop shadow on hover */
    
}

/* Responsive Styles for Mobile Devices */
@media screen and (max-width: 768px) {
    #projects p, #projects a {
        font-size: 1rem; /* Smaller font size for mobile */
    }

    .motion-div img {
        width: 100%; /* Full width images on mobile */
        height: auto;
    }

    .project-image, .project-video {
        width: 100%; /* Full width for project images and videos */
        height: auto;
    }

    .project-container {
        max-width: 100%; /* Use full width of the screen */
    }

    .gradient-heading-container {
        padding: 0.5rem 0; /* Smaller padding */
    }

    #projects .gradient-heading {
        font-size: 3rem; /* Smaller heading font size */
    }

    .github-link {
        font-size: 1rem; /* Smaller font size for GitHub link */
    }
    

    .project-video-wrapper {
        padding-top: 75%; /* Adjust aspect ratio for mobile */
    }

    .github-link img {
        width: 40px; /* Adjust the width as needed for mobile devices */
        height: auto; /* Maintain the aspect ratio of the image */
        animation: float 1.5s ease-in-out infinite; /* Optional: Adjust the animation speed if needed */
    }

}
