

/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* App.css or any other component-specific CSS file */
body {
  font-family: 'Varela Round', sans-serif;
}


.App > * {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.App > .show {
  opacity: 1;
}
