*{
  margin: 0;
  padding: 0;
}

/* Import Google Font Varela Round */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {

  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply Varela Round to specific elements (e.g., headings) */
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

