#galaxy {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 2s forwards;
}

.message {
  color: white;
  font-size: 3rem; /* Large font size for larger screens */
}

.message h1 {
  background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em; /* Adjust heading size */
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 1200px) {
  .message {
    font-size: 2rem; /* Smaller font size for mobile devices */
  }

  .message h1 {
    font-size: 1.5em; /* Adjust heading size for mobile devices */
  }

  img {
    max-width: 90%;
    height: auto;
  }
  
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 1.5rem; /* Smaller font size for mobile devices */
  }

  .message h1 {
    font-size: 1.5em; /* Adjust heading size for mobile devices */
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    flex-direction: column;
  }

  .message, .pillars {
    margin: 10px 0; /* Add some margin for spacing */
  }
  img {
    max-width: 80%;
    height: auto;}
}

@media screen and (max-width: 320px) {
  .message {
    font-size: 1rem; /* Smaller font size for mobile devices */
  }

  .message, .pillars {
    margin: 2px 0; /* Add some margin for spacing */
  }


  img {
    max-width: 70%;
    height: auto;
  }
}