#galaxy {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
  }
  
  .label {
    color: white;
    font-weight: bold;
    font-size: 10rem;  /* You can adjust this value as needed */
}

  