#about {
  background-color: #1A0064;
  color: #fff;
  padding: 8rem 0;
  background-image: url('../../../public/images/wallpaper-sun-stars.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about .content {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.gradient-heading-container {
  background: linear-gradient(to right, rgb(179, 0, 255), rgb(0, 140, 255));
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
  margin: auto;
  width: 100%;
}

.gradient-heading {
  color: white;
  font-size: 5rem;
  display: inline-block;
  margin: 0;
}

#about h3 {
  font-size: 2.5rem;
  color: aquamarine;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}

#about p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem 0;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  #about {
    padding: 4rem 1rem; /* Reduce padding */
  }

  .gradient-heading {
    font-size: 2.5rem; /* Adjust header font size */
  }

  #about .content {
    max-width: 95%; /* Increase content width */
  }

  .about-me-text p {
    font-size: 1.2rem; /* Reduce paragraph text size */
  }

  .gallery ul {
    flex-direction: column; /* Stack images vertically */
  }

  .gallery img {
    width: 80%; /* Increase logo size */
    margin: 0 auto 1rem; /* Center and add space below logos */
  }

  /* Adjust the pizza and Zelda images */
  .hobbies-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  }

  .hobby-item img, .hobby-item2 img {
    width: 100%; /* Full width of their container */
    margin-bottom: 0.5rem; /* Space between image and description */
  }

  .hobby-item span, .hobby-item2 span {
    display: block; /* Ensure descriptions are block level */
    text-align: center; /* Center text */
    font-size: 1rem; /* Adjust description text size */
    opacity: 1; /* Always visible */
    visibility: visible;
    transform: none; /* Remove any transforms */
    position: relative; /* Reset position */
    background-color: transparent; /* Remove background */
    color: #fff; /* Text color */
  }
}